.form__fieldset {
  padding: 0;
  margin-top: 24px;
  border: 0;
}

.form__legend {
  margin-top: -4px;
  display: block;
  width: 150px;
  background: transparent;
  line-height: 18px;
  font-weight: 600;
}

.form__wrapper--flatpickr {
  display: flex;
  justify-content: space-between;
}

.form__date-renta {
  width: 98%;
}

.form__name {
  display: flex;
  flex-direction: column;
}

.form__name + .form__name {
  margin-top: 20px;
}

.form__name-label {
  font-weight: 600;
}

.form__name-input, .form__number-input, .form__email-input, .form__car-model {
  margin-top: 12px;
  padding: 8px;
  width: 95%;
  font-size: 18px;
  border: 1px solid #d2d2d233;
  border-radius: 6px;
  background: transparent;
  color: #ffffff;
  outline: none;

  &:focus {
    border: 1px solid #05588f;
  }
}

.form__date-input {
  width: 45%;
}

.form__car {
  width: 98%;
}

.form__wrapper-car {
  position: relative;
  margin-top: 12px;
}

.form__car-model {
  width: 100%;
  margin-top: 0;
  padding-right: 23px;
  appearance: none;
  &--arrow {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top: 10px solid #ffffff;
    pointer-events: none;
  }
}

.form__number-wrapper, .email-wrapper {
  position: relative;
}

.form__number-icon, .form__email-icon {
  position: absolute;
  bottom: 8px;
  right: 0;
}

@media (min-width: 768px) {
  .form__fieldset {
    margin-top: 35px;
  }

  .form__name-input, .form__number-input, .form__email-input {
    margin-top: 18px;
  }  
}